*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    vertical-align: bottom;
    width: 60px;
}

h1{
    display: inline-block;
    font-size: 50px;
}

header{
    margin: 30px;
}

main{
    background-color: #cac9c950;
    padding-top: 20px;
}

.container{
    background-color: white;
    width: 66%;
    margin: 20px auto;
    border-radius: 3px;
}

.button{
    border-radius: 5px;
    padding: 7px 10px;
}

.button.blue{
    color: white;
    background-color: #41aaf0;
    border: 1px solid #41aaf0;
}

.button.white{
    color: #46464650;
    border: 1px solid #46464650;
    background-color: white;
}

.buttons{
    border-bottom: 1px solid #cac9c950;
    padding-top: 20px;
    padding-bottom: 10px;
}

section{
    padding-left: 50px;
}

.task{
    padding-top: 30px;
    padding-bottom: 30px;
}

.symbols{
    vertical-align: -5px;
    padding-right: 5px;
}

ul{
    list-style: none;
    padding-top: 10px;
}

li{
    margin-bottom: 20px;
}

p{
    font-size: 20px;
}

.red{
    color: red;
}

.green{
    color:green;
}

.bg-green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.tag{
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: small;
}

.blue{
    background-color: #41aaf0;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.bg-lightgreen{
    background-color: lightgreen;
}