*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    vertical-align: bottom;
    width: 60px;
}

h1{
    display: inline-block;
    font-size: 50px;
}

header{
    margin: 30px;
}

main{
    background-color: #35323250;
    padding-top: 20px;
}

.container{
    background-color: white;
    width: 66%;
    margin: 20px auto;
    border-radius: 3px;
}

.button{
    border-radius: 5px;
    padding: 7px 10px;
}

.button.blue{
    color: white;
    background-color: #41aaf0;
    border: 1px solid #41aaf0;
}

.button.white{
    color: #35323250;
    border: 1px solid #35323250;
    background-color: white;
}

.buttons{
    border-bottom: 1px solid #35323250;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}