*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    vertical-align: bottom;
    width: 60px;
}

h1{
    display: inline-block;
    font-size: 50px;
}

header{
    margin: 30px;
}

main{
    background-color: #0505055e;
}

.container{
    background-color: white;
    margin-top: 100px;
}

section{
    margin-left: 40px;
}

.button{
    border-radius: 5px;
    padding: 7px 10px;
}

.button.blue{
    color: white;
    background-color: #41aaf0;
    border: 1px solid #41aaf0;
}

.button.white{
    color: #0505055e;
    border: 1px solid #0505055e;
    background-color: white;
}